$primary: #242c3c;
$modal-content-width: 900px;
$table-color: hsl(0, 0%, 100%);
$table-heading-color: hsl(0, 0%, 100%);
$table-head-cell-color: hsl(0, 0%, 100%);
$table-foot-cell-color: hsl(0, 0%, 100%);
$table-row-hover-background-color: #707889;
$table-background-color: #343f57;
$navbar-background-color: #343f57;
$navbar-item-color: hsl(0, 0%, 96%);
$navbar-box-shadow-color: #242c3c;
$navbar-item-hover-background-color: #242c3c;
$navbar-item-active-color: hsl(0, 0%, 100%);
$navbar-dropdown-background-color: #343f57;
$navbar-dropdown-item-hover-background-color: #242c3c;
$navbar-dropdown-item-hover-color: hsl(0, 0%, 96%);
$navbar-dropdown-item-active-color: hsl(0, 0%, 100%);
$modal-background-background-color: #141922 !important;
$modal-card-head-background-color: #343f57 !important;
$modal-card-body-background-color: #242c3c !important;
$modal-card-title-color: hsl(0, 0%, 100%) !important;

.modal {
  label {
    color: hsl(0, 0%, 100%) !important;
  }
}

.loading-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.router-link-exact-active {
  background-color: transparent !important;
  color: white !important;
  font-weight: bold;
}

@import "~bulma/bulma";
@import "~bulma-tooltip";

@import "~animate.css";

.border {
  border: 6px solid;

  &.gold {
    border-color: #af9500;
  }

  &.silver {
    border-color: #d7d7d7;
  }

  &.bronze {
    border-color: #6a3805;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #141922;
}

.is-200x200 {
  height: 200px;
  width: 200px;
}

.is-horizontal-center {
  justify-content: center;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.box {
  overflow: auto;
  background-color: #343f57 !important;
}

$sizes: (0, 10, 15, 20, 25, 30, 50);
$positions: ("top", "left", "bottom", "right");

@media (min-width: 769px) {
  .columns.equal-heights {
    flex-wrap: wrap;
    align-items: stretch;

    .column {
      display: flex;
      position: relative;

      .box {
        width: 100%;
      }
    }
  }
}

.apexcharts-title-text {
  font-weight: bold !important;
  font-size: 1em !important;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif !important;
  line-height: 1.5 !important;
}

@each $size in $sizes {
  @each $position in $positions {
    .m#{str-slice($position, 0, 1)}-#{$size} {
      margin-#{$position}: $size + px;
    }
    .p#{str-slice($position, 0, 1)}-#{$size} {
      padding-#{$position}: $size + px;
    }
  }
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(163, 0, 214, 0.0);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(163, 0, 214, 0.85);
}